/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.flights {
  border: 1px solid black;
  width:300px;
  padding: 10px top 10px bottom 10px left 10px right;
  margin: 10px 30px;
  text-align: center;
  box-shadow: 0 0 10px;
  background-color: white;
}

.main-content {
  display: flex;
  gap: 5px
}

.body {
  background-color: #D4A76A;
}