/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

.flights {
  border: 1px solid black;
  width:300px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 0 10px;
  background-color: white;
  margin-block: 0;
}

.main-content {
  display: flex;
  gap: 5px
}

.body {
  background-color: #D4A76A;
}

.btn {
  background-color: #805215;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #FFDBAA;
  color: #553100;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  background-color: #805215;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font: inherit;
}